.*                  export-ignore
/assets             export-ignore
/pages              export-ignore
/src                export-ignore
/*.md               export-ignore
/package.json       export-ignore
/webpack.mix.js     export-ignore
/yarn.lock          export-ignore
